* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.interface {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;
}

button {
    background: linear-gradient(90deg, #ff00ff, #0000ff);
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff0055;
}
